.user-panel {
    display: flex;
    justify-content: flex-end;
    text-align: center;
}

.user-panel__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}