.signup-form {
    top: 15vh;
    background-color: white;
    color: black;
}

.signup-form h2 {
    text-align: left;
    background-color: #034d67;
    color: white;
    margin: 0;
    padding: 1rem;
}

.signup-form form{
    padding: 1rem;
}